<!DOCTYPE html>
<html lang="en">
{#**************************************HEAD**************************************#}
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Life O'clock{% endblock %}</title>
        {% include 'styles.html.twig' %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
{#**************************************BODY**************************************#}
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-2 col-md-10 col-sm-12">
                    <div class="header-wrapper">
                        {% block header %}
                            {% include 'header.html.twig' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-2 col-sm-12 content-wrapper">
                    {% block body %}{% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md- col-sm-12 footer-wrapper">
                    {% block footer %}
                        {% include 'footer.html.twig' %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% include 'scripts.html.twig' %}
    </body>
</html>
