<!DOCTYPE html>
<html lang="en">
{#**************************************HEAD**************************************#}
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Life O'clock{% endblock %}</title>
        {% include 'styles.html.twig' %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        {% include 'scripts.html.twig' %}
    </head>
{#**************************************BODY**************************************#}

    <body>
        {% block body %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                        <div class="header-wrapper">
                            {% block header %}
                                {% include 'header.html.twig' %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12">
                        <div class="content-wrapper">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>

            </div>
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-sm-12">
                            <div class="footer-wrapper">
                                {% block footer %}
                                    {% include 'footer.html.twig' %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>
