<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-md-offset-1">
                <div class="header-title">
                    <img class="img-responsive" src="{{ asset('img/main_logo.png') }}">
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
            </div>
            <div class="col-md-3 col-sm-12">
                {% include 'weatherWidget.html.twig' %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="header-navbar">
            {% include 'navbar.html.twig' %}
        </div>
    </div>
</div>


{#<div class="row">#}
    {#<div class="col-md-8 col-sm-12">#}
        {#<div class="header-title">#}
            {#<img class="img-responsive" src="{{ asset('img/main_logo.png') }}">#}
        {#</div>#}
    {#</div>#}
    {#<div class="col-md-4 col-sm-12">#}
        {#<div class="row">#}
            {#<div class="col-md-12 col-sm-12">#}
                {#{% include 'weatherWidget.html.twig' %}#}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-md-12 col-sm-12">#}
                {#<div class="header-navbar">#}
                    {#{% include 'navbar.html.twig' %}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}



