<div>
    <ul class="list-inline" style="float: left">
        <li><a href="{{ path('homepage') }}" class="btn navbar-btn">Calendar</a></li>
        <li><a href="{{ path('time_log') }}" class="btn navbar-btn">Time Log</a></li>
        <li><a href="{{ path('lists') }}" class="btn navbar-btn">To-Do Lists</a></li>
    </ul>
    <a href="{{url("logout")}}" class="btn btn-danger" style="float: right">Logout</a>
    <div class="clearfix"></div>
</div>