<div>
    <ul class="list-inline" style="float: left">
        <li><a href="" class="btn btn-warning">Menu item</a></li>
        <li><a href="" class="btn btn-warning">Menu item</a></li>
        <li><a href="" class="btn btn-warning">Menu item</a></li>
        <li>
            <a data-toggle="modal" href="{# parh to controler with template and modal ajax action#}" data-target="#modal">modal</a>
        </li>
    </ul>
    <a href="{{url("logout")}}" class="btn btn-danger" style="float: right">Logout</a>
    <div class="clearfix"></div>
</div>