{% extends 'base.html.twig' %}

{% block content %}

    <div>
        {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
    </div>


    {#Modal window - event detail #}
    {% include 'modal/modalEventDetail.html.twig' %}

{% endblock %}

