{% extends 'base.html.twig' %}

{% block content %}

    <div>
        {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
    </div>


    {#Modal window - event detail #}
    <div id="eventContent" title="Event Details" style="display:none;">
        Start: <span id="startTime"></span><br>
        End: <span id="endTime"></span><br><br>
        <p id="eventInfo"></p>
        <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
    </div>
    <input type="color" >

{% endblock %}

