<div id="eventContent" title="Event Details" style="display:none;">
    Start: <span id="eventStartTime"></span><br>
    End: <span id="eventEndTime"></span><br><br>
    Category: <span id="eventInfo"></span>
    <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
    <a id="eventDeleteLink" onClick="return confirm('Are you sure?');" class="btn btn-danger" style="color: #FFF">Delete this event</a>
</div>