html{
    height: 100%;
}

body{
    background-color: #FFE5AA;
    min-height: 100%;
    position: relative;
    padding-bottom: 70px;
}

h1{
    font-family: "Berlin Sans FB";
    font-size: 40pt;
}

h3{
    font-family: "Berlin Sans FB";
}

.footer {
    position: absolute;
    z-index: 999;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 50px;*/
    border-top: solid 5px #713707;
    border-radius: 3px;
    background-color: #AA7A3D;
}

.form-field-error{
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: #880000;
}

.form-field-error ul{
    padding: 2px 5px;
    margin-bottom: 3px;
}

.form-field-error li{
    list-style: none;
}

.message{
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

/***Login page***/

.major-title{
    color: #916319;
}

.minor-title{
    color: #6c6159;
}

.login{
    margin: 10px;
    padding: 20px 20px 5px 20px;
    border: 5px solid #916319;
    border-radius: 10px;
}

.login label{
    font-weight: bold;
}

.login input{
    font-family: "Century Gothic";
    font-weight: bold;
}

.login button{
    font-weight: bold;
}

.login a{
    font-weight: bold;
}


/***Main page layout***/

.header-wrapper{
    min-height: 200px;
    padding: 10px;
    margin-top: 10px;
    border-top: solid 5px #713707;
    border-bottom: solid 5px #713707;
    border-radius: 3px;
    background-color: #FFCF90;

}

.content-wrapper{
    padding: 10px;
}

.footer-wrapper{
    height: 50px;
    padding: 5px 10px;
    color: #fff;
    /*border-top: solid 5px #713707;*/
    /*border-radius: 3px;*/
    /*background-color: #AA7A3D;*/
}

.header-title{
    min-height: 150px;
}

.header-navbar{
    min-height: 50px;
    margin-bottom: -10px;
}

.calendar-event{
    /*background-color: #1b6d85;*/
}