#weather-widget{
    border: 2px solid #FFE5AA;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #FFE5AA;
}

.weather-widget-city{
    margin-top: -10px;
    vertical-align: middle;
}

.weather-widget-image{
    margin: -30px -15px -20px -15px;
}

.weather-widget-temperature{
    font-weight: bold;
    font-size: 34pt;
    line-height: 100%;
}

.weather-widget-details{
    font-size: 10pt;
}